# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.vs
ConcurrentProgramming/.idea
ConcurrentProgramming/CommonDataConsistency
ConcurrentProgramming/CommonDataConsistencyUnitTest
ConcurrentProgramming/Communication
ConcurrentProgramming/CommunicationTest
ConcurrentProgramming/Fundamentals
ConcurrentProgramming/FundamentalsTest
ConcurrentProgramming/RealTimeProgramming
ConcurrentProgramming/Synchronization
ConcurrentProgramming/SynchronizationTest
ConcurrentProgramming/TestResults

ConcurrentProgramming/ReactiveInteractiveUserInterface/BusinessLogic/obj/Debug/net8.0/BusinessLogic.AssemblyInfo.cs
ConcurrentProgramming/ReactiveInteractiveUserInterface/BusinessLogic/obj/Debug/net8.0/BusinessLogic.AssemblyInfoInputs.cache
ConcurrentProgramming/ReactiveInteractiveUserInterface/BusinessLogic/obj/Debug/net8.0/BusinessLogic.GeneratedMSBuildEditorConfig.editorconfig
ConcurrentProgramming/ReactiveInteractiveUserInterface/BusinessLogic/obj/Debug/net8.0/BusinessLogic.assets.cache
ConcurrentProgramming/ReactiveInteractiveUserInterface/BusinessLogic/obj/Debug/net8.0/BusinessLogic.csproj.AssemblyReference.cache
ConcurrentProgramming/ReactiveInteractiveUserInterface/BusinessLogic/obj/Debug/net8.0/BusinessLogic.sourcelink.json
ConcurrentProgramming/ReactiveInteractiveUserInterface/Data/obj/Debug/net8.0/Data.assets.cache
ConcurrentProgramming/ReactiveInteractiveUserInterface/GraphicalUserInterface/obj/Debug/net8.0-windows7.0/PresentationView.AssemblyInfo.cs
ConcurrentProgramming/ReactiveInteractiveUserInterface/GraphicalUserInterface/obj/Debug/net8.0-windows7.0/PresentationView.AssemblyInfoInputs.cache
ConcurrentProgramming/ReactiveInteractiveUserInterface/GraphicalUserInterface/obj/Debug/net8.0-windows7.0/PresentationView.GeneratedMSBuildEditorConfig.editorconfig
ConcurrentProgramming/ReactiveInteractiveUserInterface/GraphicalUserInterface/obj/Debug/net8.0-windows7.0/PresentationView.assets.cache
ConcurrentProgramming/ReactiveInteractiveUserInterface/GraphicalUserInterface/obj/Debug/net8.0-windows7.0/PresentationView.csproj.AssemblyReference.cache
ConcurrentProgramming/ReactiveInteractiveUserInterface/GraphicalUserInterface/obj/Debug/net8.0-windows7.0/PresentationView.sourcelink.json
ConcurrentProgramming/ReactiveInteractiveUserInterface/PresentationModel/obj/Debug/net8.0/PresentationModel.AssemblyInfo.cs
ConcurrentProgramming/ReactiveInteractiveUserInterface/PresentationModel/obj/Debug/net8.0/PresentationModel.AssemblyInfoInputs.cache
ConcurrentProgramming/ReactiveInteractiveUserInterface/PresentationModel/obj/Debug/net8.0/PresentationModel.GeneratedMSBuildEditorConfig.editorconfig
ConcurrentProgramming/ReactiveInteractiveUserInterface/PresentationModel/obj/Debug/net8.0/PresentationModel.assets.cache
ConcurrentProgramming/ReactiveInteractiveUserInterface/PresentationModel/obj/Debug/net8.0/PresentationModel.csproj.AssemblyReference.cache
ConcurrentProgramming/ReactiveInteractiveUserInterface/PresentationModel/obj/Debug/net8.0/PresentationModel.sourcelink.json
ConcurrentProgramming/ReactiveInteractiveUserInterface/PresentationViewModel/obj/Debug/net8.0/PresentationViewModel.AssemblyInfo.cs
ConcurrentProgramming/ReactiveInteractiveUserInterface/PresentationViewModel/obj/Debug/net8.0/PresentationViewModel.AssemblyInfoInputs.cache
ConcurrentProgramming/ReactiveInteractiveUserInterface/PresentationViewModel/obj/Debug/net8.0/PresentationViewModel.GeneratedMSBuildEditorConfig.editorconfig
ConcurrentProgramming/ReactiveInteractiveUserInterface/PresentationViewModel/obj/Debug/net8.0/PresentationViewModel.csproj.AssemblyReference.cache
ConcurrentProgramming/ReactiveInteractiveUserInterface/PresentationViewModel/obj/Debug/net8.0/PresentationViewModel.sourcelink.json




